.benefits__main-features {
  background-image: url("../img/phone-main.png"), url("../img/grey-back.png");
  background-repeat: no-repeat;
  background-position: 50% 110%, 0 10%;
  padding-top: 86px;
  padding-bottom: 330px;
  background-size: 157px 320px, cover;

  @media (min-width: 660px) {
    background-position: 0 30px, 0 -80px;
    padding: 130px 0 0 0;
    background-size: 269px 547px, cover;
    overflow-x: hidden;
  }

  @media (min-width: 940px) {
    background-image: url("../img/grey-back.png");
    background-size: cover;
    background-position: 0 -90px;
    padding-bottom: 0;
  }
}

.benefits__intro {
  background-color: @white;
}

.benefits__phone {
  display: none;

  @media (min-width: 940px) {
    display: block;
  }
}

.benefits__intro-text {
  padding: 0;
  margin: 0;
  text-align: center;
  font-weight: 300;
  font-size: 24px;
  line-height: 120%;
  color: @blue;
}

.benefits__list {
  list-style: none;
  display: flex;
  flex-direction: column;

  @media (min-width: 660px) {
    padding-left: 310px;
  }

  @media (min-width: 940px) {
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
  }
}

.benefits__item {
  @media (min-width: 940px) {
    min-width: 252px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.benefits__item:nth-child(2) {
  @media (min-width: 940px) {
    margin: 0 20px;
  }
}

.benefits__item-heading {
  color: @black;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  text-align: center;

  @media (min-width: 660px) {
    text-align: left;
  }

  @media (min-width: 960px) {
    text-align: center;
  }
}

.benefits__item-text {
  text-align: center;
  color: @blue;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;

  @media (min-width: 660px) {
    text-align: left;
  }

  @media (min-width: 960px) {
    text-align: center;
  }
}
