.feedback {
  background-color: @white;
}

.feedback__text {
  font-size: 24px;
  font-weight: 300;
  line-height: 29px;
  color: @blue;
}

.feedback__list {
  list-style: none;
  padding: 0;
}

.feedback__item-text {
  color: @black;
  font-size: 18px;
  font-weight: 700;
  line-height: 25px;
}

.feedback__link {
  text-decoration: none;
  color: red;
}
