.feedback {
  background-color: @white;
}

.feedback .container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.feedback__text {
  font-size: 24px;
  font-weight: 300;
  line-height: 29px;
  color: @blue;
  text-align: center;
  margin: 39px 0 34px 0;

  @media (min-width: 660px) {
    font-size: 40px;
    font-style: normal;
    font-weight: 300;
    line-height: 54px;
    margin: 49px 0 32px 0;
  }

  @media (min-width: 940px) {
    font-size: 50px;
    line-height: 68px;
    margin: 59px 0 41px 0;
  }
}

.feedback__subtitle {
  margin: 0;
  padding: 0;
}

.feedback__list {
  list-style: none;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  gap: 18px;

  @media (min-width: 660px) {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 45px;
    justify-content: space-evenly;
  }

  @media (min-width: 940px) {
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
  }
}

.feedback__item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.feedback__item-2 {
  @media (min-width: 940px) {
    order: 3;
  }
}

.feedback__item-3 {
  @media (min-width: 660px) {
    width: 211px;
  }

  @media (min-width: 940px) {
    order: 2;
  }
}

.feedback__item-text {
  color: @black;
  font-size: 18px;
  font-weight: 700;
  line-height: 25px;

  @media (min-width: 940px) {
    padding-bottom: 29px;
  }
}

.feedback__adres {
  padding: 0 50px;

  @media (min-width: 940px) {
    padding: 0;
  }
}

.feedback__link {
  text-decoration: none;
  color: red;
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: 33px;
  text-align: center;

  &:hover {
    color: @blue;
    text-decoration-line: underline;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: 940px) {
    margin-bottom: -40px;
  }
}

.feedback__map {
  position: relative;
  min-width: 320px;
  height: 200px;
  margin-top: 34px;

  @media (min-width: 660px) {
    min-height: 374px;
  }

  @media (min-width: 940px) {
    height: 502px;
  }
}

.feedback__top-img {
  background-image: url("../img/triangle-white-footer.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  height: 52px;
  width: 100%;
  position: absolute;

  @media (min-width: 660px) {
    height: 68px;
    background-image: url("../img/triangle-white-tablet.png");
  }

  @media (min-width: 940px) {
    height: 123px;
    background-image: url("../img/triangle-white-desctop.png");
    background-size: 100% 100%;
  }
}

.feedback__online-map {
  min-width: 320px;
  max-width: 9400px;
  width: 100%;
  min-height: 200px;

  @media (min-width: 660px) {
    height: 374px;
  }

  @media (min-width: 940px) {
    height: 502px;
  }
}
