.form {
  display: flex;
  flex-direction: column;
  justify-content: center;

  @media (min-width: 940px) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.form__worksheep {
  border: none;
  padding: 0;
  margin: 0;
}

.form__worksheep-flex {
  display: flex;
  align-items: left;
  flex-direction: column;

  @media (min-width: 660px) {
    flex-direction: row;
    align-items: center;
  }
}

.form__worksheep-position {
  order: 0;

  @media (min-width: 940px) {
    width: 100%;
    max-width: 432px;
  }
}

.form__worksheep-label {
  color: @red;
  text-transform: uppercase;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  margin-right: 20px;
}

.form__worksheep-input {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  color: @blue;
  width: 100%;
  min-width: 280px;

  @media (min-width: 940px) {
    max-width: 561px;
  }
}

.form__achievements {
  display: flex;
  flex-direction: column;
  border: none;
  padding: 0;
  margin: 0;

  @media (min-width: 660px) {
    border: 2px solid @grey;
  }
}

.form__achievements-position {
  order: 1;
  background-color: @grey;

  @media (min-width: 660px) {
    order: 3;
    background-color: @white;
  }

  @media (min-width: 940px) {
    width: 100%;
  }
}

.form__achievements-legend {
  color: @red;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  text-align: center;
}

.form__achievements-label {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  color: @blue;
}

.form__feedback {
  border: none;
  flex-direction: column;
  display: flex;
  padding: 0;
  margin: 0;

  @media (min-width: 660px) {
    border: 2px solid @grey;
  }
}

.form__feedback-position {
  order: 2;

  @media (min-width: 660px) {
    order: 2;
  }

  @media (min-width: 940px) {
    width: 100%;
  }
}

.form__feedback-legend {
  display: none;

  @media (min-width: 660px) {
    display: block;
    text-align: center;
    color: @red;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
  }
}

.form__feedback-label {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  color: @red;
  text-transform: uppercase;
}

.form__feedback-input {
  color: @blue;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}

.form__about-app {
  display: flex;
  flex-direction: column;
  border: none;
  padding: 0;
  margin: 0;

  @media (min-width: 660px) {
    border: 2px solid @grey;
  }
}

.form__about-app-position {
  order: 3;
  background-color: @grey;

  @media (min-width: 660px) {
    order: 0;
    background-color: @white;
  }

  @media (min-width: 940px) {
    width: 100%;
    max-width: 432px;
  }
}

.form__about-app-legend {
  color: @red;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  text-align: center;
}

.form__about-app-label {
  color: @blue;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}

.form__emotion {
  border: none;
  padding: 0;
  display: flex;
  margin: 0;

  @media (min-width: 660px) {
    border: 2px solid @grey;
  }
}

.form__emotion-position {
  order: 4;

  @media (min-width: 940px) {
    width: 100%;
  }
}

.form__emotion-legend {
  color: @red;
  text-transform: uppercase;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  text-align: center;
}

.form__emotion-text {
  color: @blue;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}

.form__btn {
  order: 5;
  display: flex;
  flex-direction: column;
  justify-content: center;

  @media (min-width: 660px) {
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
  }

  @media (min-width: 940px) {
    width: 100%;
  }
}

.main-form__comment {
  text-align: center;
  font-size: 14px;
  padding: 0;
  margin: 0;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}

.main-form__comment span {
  color: @red;
}

.form__button {
  cursor: pointer;
  color: @white;
  background-color: @green;
  text-transform: uppercase;
  width: 100%;
  text-align: center;
  padding: 23px 45px;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  border-radius: 1px;
  border: 2px solid @green;

  @media (min-width: 660px) {
    max-width: 296px;
  }
}
