.page-header {
  background-color: @blue;
  position: relative;
  @media (min-width: 660px) {
    background-image: url("../../img/hend.png"), url("../../img/back-mobile.jpg");
    background-repeat: no-repeat;
    background-size: 660px 545px, cover;
    background-position: 100% 100%, center center;
  }
}

.page-header__head {
  background-color: @black;
  opacity: 0.3;
  min-height: 66px;
  @media (min-width: 660px) {
    min-height: 110px;
  }
  @media (min-width: 940px) {
    display: flex;
    justify-content: space-between;
  }
}

.page-header__head .container {
  display: flex;
  min-height: 66px;
  justify-content: space-between;
  align-items: center;
}

.page-header__main-inform {
  background-image: url("../../img/back-mobile.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  @media (min-width: 660px) {
    background-image: none;
  }
}

.page-header__head-toggle {
  @media (min-width: 940px) {
    display: none;
  }
}

.page-header__slogan-phone {
  background-image: url("../../img/hend.png");
  background-size: 320px 286px;
  min-height: 396px;
  background-position: left bottom;
  background-repeat: no-repeat;
  @media (min-width: 660px) {
    min-height: 619px;
    background-image: none;
  }
}

.page-header__slogan {
  font-size: 24px;
  line-height: 29px;
  color: @white;
  font-weight: 300;

  @media (min-width: 660px) {
    background-image: none;
  }
}

.page-header__slogan-text {
  margin: 0;
  padding: 36px 0;
}

.page-header__download-wrap {
  @media (min-width: 660px) {
    position: absolute;
    top: 378px;
  }
}

.page-header__download-button {
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
  color: @white;
  text-decoration-line: none;
}

.page-header__social-text {
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  color: @white;
}


/* form.html */

.page-header__intro-heading {
  font-size: 24px;
  font-weight: 300;
  line-height: 33px;
  color: @white;
  margin: 0;
  padding: 36px 0 51px 0;
  text-align: center;
}
