.page-header {
  background-color: @blue;
}

.page-header__slogan {
  font-size: 24px;
  line-height: 29px;
  color: @white;
  font-weight: 300;
}

.page-header__download-button {
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
  color: @white;
  text-decoration-line: none;
}

.page-header__social {

}

.page-header__social-apple {

}

.page-header__social-android {

}

.page-header__social-windows {

}

.page-header__social-text {
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  color: @white;
}
