.price {
  background-color: @grey;
}

.price__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.price__item-header {
  background-color: @blue;
}

.price__item-header p {
  font-size: 18px;
  font-weight: 300;
  line-height: 30px;
  color: @white;
  text-transform: uppercase;
}

.price__item {
  background-color: @white;
  border: 1px solid @grey;
  text-transform: uppercase;
  color: @blue;
}

.price__tarif {
  text-transform: uppercase;
  color: @white;
  font-size: 16px;
  font-weight: 700;
  line-height: 30px;
}
