.reviews {
  background-color: @white;

  @media (min-width: 940px) {
    background-image: url("../../img/quotes.png");
    background-repeat: no-repeat;
    background-position: 50% 0;
  }
}

.reviews__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.reviews__item-heading {
  color: @black;
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;

  @media (min-width: 660px) {
    order: 2;
  }
}

.reviews__item {
  display: none;
  align-items: center;
  flex-direction: column;
}

.reviews__item--active {
  display: flex;
}

.reviews__about-autor {
  display: none;

  @media (min-width: 660px) {
    display: block;
    order: 3;
  }
}

.reviews__item-text {
  color: @blue;
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
  text-align: center;
}
